@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase.active {
  right: 275px;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('menu.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url('close.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text p {
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 400;
  max-width: 800px;
}

.text a {
  display: inline-block;
  font-size: 1rem;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  bottom: 1.5rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 1.25rem;
  transform: scale(0.65);
  transition: 0.4s;
}

.social li a:hover {
  transform: scale(0.65) translateY(-1rem);
}

@media(max-width: 991px) {
  /* Apply under 991 px */

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 2rem;
  }
}